body,
html {
  padding: 0;
  margin: 0;
  border: none;
}

@font-face {
  font-family: "SegoeUI";
  font-weight: 400;
  src: url(./SegoeUI.ttf);
}

body.onDark {
  color: white;
}

body.onLight {
  color: black;
}

h1,
h2 {
  margin: 0;
  font-family: "SegoeUI";
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 18.8px;
  opacity: 0.26;
  position: absolute;
  left: 0px;
  top: 30px;
}

h2 {
  font-size: 13.5px;
  opacity: 0.24;
  position: absolute;
  left: 0px;
  top: 57px;
}
