body,
html {
  padding: 0;
  margin: 0;
  border: none;
}

@font-face {
  font-family: "SegoeUI";
  font-weight: 400;
  src: url(./SegoeUI.ttf);
}

body.onDark {
  color: white;
}

body.onLight {
  color: black;
}

h1,
h2 {
  margin: 0;
  opacity: 0.35;
  font-family: "SegoeUI";
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 24px;
  position: absolute;
  left: 20px;
  top: 30px;
}

h2 {
  font-size: 16px;
  position: absolute;
  left: 20px;
  top: 60px;
}
